@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts.css";

@custom-variant dark (&: is(.dark *));

@theme {
  --font-*: initial;
  --font-primary:
    "Ubuntu", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji";

  --color-*: initial;
  --color-blue-900: hsl(213, 96%, 18%);
  --color-purple-600: hsl(243, 100%, 62%);
  --color-blue-300: hsl(228, 100%, 84%);
  --color-blue-200: hsl(206, 94%, 87%);
  --color-red-500: hsl(354, 84%, 57%);

  --color-gray-500: hsl(231, 11%, 63%);
  --color-purple-200: hsl(229, 24%, 87%);
  --color-blue-100: hsl(218, 100%, 97%);
  --color-blue-50: hsl(231, 100%, 99%);
  --color-white: hsl(0, 100%, 100%);

  --breakpoint-*: initial;
  --breakpoint-sm: 0;
  --breakpoint-md: 400px;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-primary);

  color-scheme: light dark;
  color: var(--color-blue-900);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
